In [57]:
import data_extract as de
import time
import pandas as pd

In [58]:
d = de.ACDB().get_temp_forecasts()

In [59]:
d.dtypes

FCID          object
StartTime     object
Value        float64
dtype: object

In [60]:
d

         FCID                  StartTime     Value
0       Coast  2017-12-31 00:00:00-06:00   9176.18
1       Coast  2017-12-31 01:00:00-06:00   8936.06
2       Coast  2017-12-31 02:00:00-06:00   8777.50
3       Coast  2017-12-31 03:00:00-06:00   8750.43
4       Coast  2017-12-31 04:00:00-06:00   8832.69
...       ...                        ...       ...
597408  TOTAL  2023-01-17 19:00:00-06:00  45151.19
597409  TOTAL  2023-01-17 20:00:00-06:00  44409.69
597410  TOTAL  2023-01-17 21:00:00-06:00  43098.28
597411  TOTAL  2023-01-17 22:00:00-06:00  40860.83
597412  TOTAL  2023-01-17 23:00:00-06:00  38501.51

[597413 rows x 3 columns]